apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: teleport-https
  namespace: teleport-cluster
data:
  tls.crt: {{ helm_teleport_cluster_slurped_files.results[0].content }}
  tls.key: {{ helm_teleport_cluster_slurped_files.results[1].content }}
