[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
cryptography = "*"
jmespath = "*"
kubernetes = "*"

[requires]
python_version = "3.13"

[dev-packages]
ansible-lint = "*"

