version: v2
proxy_server: example.teleport.sh:443
onboarding:
  join_method: token
  token: {{ token }}
storage:
  type: directory
  path: /var/lib/teleport/bot
# outputs will be filled in during the completion of an access guide.
# outputs: []
