version: v3
teleport:
  data_dir: /var/lib/teleport
  log:
    output: stderr
    severity: DEBUG

auth_service:
  authentication:
    # "off" is deprecated in v15 and beyond
    # "optional" is deprecated in v16 and beyond
    second_factor: "on"
    webauthn:
      rp_id: {{ domain_name }}
  enabled: true
  cluster_name: {{ domain_name }}
  tunnel_strategy:
    type: proxy_peering
  proxy_listener_mode: multiplex

proxy_service:
  enabled: true
  web_listen_addr: 0.0.0.0:443
  peer_listen_addr: 0.0.0.0:3021
  peer_public_addr: {{ ansible_default_ipv4.address }}:3021
  public_addr: {{ domain_name }}:443
  https_keypairs:
  - key_file: {{ lego_path }}/{{ domain_name }}.key
    cert_file: {{ lego_path }}/{{ domain_name }}.crt
  https_keypairs_reload_interval: 0s # Needed for static certs
  acme: {}

ssh_service:
  enabled: true
  commands:
  - name: hostname
    command: [hostname]
    period: 1m0s
